{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}

<h2>Cardhand.</h2>
{% for cards in cardHand %}
    <p>{{ cards }}</p>
{% endfor %}

<p>Rest of the cards.</p>
{% for card in deck %}
    <p>{{ card }}</p>
{% endfor %}

<ul>
    <li><a href="{{ path('card_shuffle') }}">Card shuffle</li>
    <li><a href="{{ path('card_draw') }}">Card draw</li>
    <li><a href="{{ path('card_draw_numbers') }}">Draw many cards</li>
</ul>

{# {{ dump(deckSession) }} #}

{% endblock %}