    <header class="proj-header">
        <span class="site-title">Blackjack</span>
    </header>

    <nav class="proj-navbar">
        <ul>
            <li><a href="{{ path('index') }}">Home</a></li>
            <li><a href="{{ path('blackjack') }}">Blackjack info</a></li>
            <li><a href="{{ path('blackjack_start') }}">Nytt spel</a></li>
            <li><a href="{{ path('blackjack_play') }}">Nuvarande spel</a></li>
            <li><a href="{{ path('proj_about') }}">About</a></li>
        </ul>
    </nav>