{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>JSON routes</h1>
    <a href="{{ path('api_qoute') }}">Dagens citat</a></br>
    <a href="{{ path('api_deck') }}">Api deck</a></br>
    <a href="{{ path('api_deck_shuffle') }}">Api deck shuffle</a></br>
    <a href="{{ path('api_draw') }}">Api draw one card</a></br>
    <a href="{{ path('api_draw_numbers') }}">Api draw many cards</a></br>
    <a href="{{ path('api_game') }}">Api game</a></br>
    <a href="{{ path('library_show_all_api') }}">Visa alla böcker i biblioteket</a></br>
    <a href="{{ path('library_by_isbn_api', {isbn: 9789100182915}) }}">Visa EN bok i biblioteket</a></br>
{% endblock %}