<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

    {# <header class="site-header">
        <span class="site-title">My Symfony Site</span>
    </header>

    <nav class="navbar">
        <ul>
            <li><a href="{{ path('index') }}">Home</a></li>
            <li><a href="{{ path('about') }}">About</a></li>
            <li><a href="{{ path('lucky_number') }}">Lucky number</a></li>
            <li><a href="{{ path('report') }}">Redovisning</a></li>
            <li><a href="{{ path('api') }}">Api</a></li>
            <li><a href="{{ path('card_init') }}">Card</a></li>
            <li><a href="{{ path('game') }}">Game</a></li>
            <li><a href="{{ path('library_show_all') }}">Library</a></li>
            <li><a href="{{ path('metrics') }}">Metrics</a></li>
            <li><a href="{{ path('blackjack') }}">Blackjack</a></li>
        </ul>
    </nav> #}
        {% block navbar %}
            {% include 'header-navbar.html.twig' %}
        {% endblock %}

        {% block body %}{% endblock %}
    </body>

    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}
    {# <footer>
        <p>En footer!!!!</p>
    </footer> #}
</html>
